// 评论卡片
.comments-wrapper {
    background-color var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 0.25rem;
    border: solid 1px var(--border-color);
}         
// 评论输入框背景色
.vssue-new-comment-input {
    background-color: var(--code-color) !important;
}
// 评论内容背景
.vssue-comment-main {
    background-color: var(--background-color) !important;
}
// 评论页面数量选择框
.vssue-pagination-select {
    border: solid 1px var(--border-color) !important;
}
.side-bar {
    //top: 4rem !important;
    //right: 10rem !important;
    background-color: var(--background-color) !important;
    border-radius: 0.25rem !important;
    box-shadow: var(--box-shadow) !important;
    border: solid 1px var(--border-color) !important;
    font-size: 14px !important;
}
.theme-reco-content p {
    //margin: 1.2em 0 !important;
    font-family: Helvetica, arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    word-break: break-word;
    text-align: justify;
}