// 评论卡片
.comments-wrapper {
    background-color var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 0.25rem;
    border: solid 1px var(--border-color);
}         
// 评论输入框背景色
.vssue-new-comment-input {
    background-color: var(--code-color) !important;
}
// 评论内容背景
.vssue-comment-main {
    background-color: var(--background-color) !important;
}
// 评论页面数量选择框
.vssue-pagination-select {
    border: solid 1px var(--border-color) !important;
}